@import url("./assets/deliveroo-icons/style.css");

/* ------------------- */
 /* -----HEADER----- */
/* ------------------- */


.Header {
  height: 60px;
  border-bottom: 1px solid lightgrey;
}

.Logo {
  width: 160px;
  height: 45px; 
  margin-left: 120px;
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* -------------------------- */
 /* -----MENU--HEADER----- */
/* ------------------------- */

h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 32px;
  color: #2E3333;
  line-height: 26.7px;
  margin-left: 120px;
  margin-top: 46px;
  margin-bottom: 45px;
}

.InforestoText p {
  display: flex;
  justify-content: flex-start;
  font-size: 19px;
  color: #868A8A;
  line-height: 28.8px;
  margin-left: 120px;
}

.InfoResto {
  display: flex;
  height: 260px;
  margin-right: 105px;
}

.Picheader {
  width: 350px;
  height: 198px;
  border-radius: 5px;
  display: flex;
  object-fit: cover;
  margin: 30px;
  margin-top: 32px;
}

.Pricestar {
  display: flex;
}

.Object span {
  color: darkorange;
  margin-left: 90px;
  margin-top: 20px;
}

/* ------------------------------- */
 /* ------CATEGORIES--MEALS----- */
/* ------------------------------ */

.Container {
  /* background-color: #f2f5f5; */
  padding-top: 10px;
}

h2 {
  margin-top: 27px;
  margin-bottom: 26px;
  margin-left: 120px;
  font-size: 24px;
  line-height: 20px;
  font-weight: bold;
  color: #2E3333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h3 {
  font-size: 18px;
  line-height: 15.6px;
  font-weight: 400;
}

.Meals {
display: flex;
flex-wrap: wrap;
width: 1000px;
padding-bottom: 10px;
}

.Object {
  width: 230px;
}

.Content {
  padding-left: 20px;
  width: 400px;
  height: 165px;
  background-color: #FFF; 
  margin-right: 20px;
  display: flex;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-shrink: 0;
}

.Content:nth-child(2n+1) {
  margin-left: 120px;
}

.Content img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 25px;
  margin-right: 15px;
  margin-top: 15px;
  
}

.Content p {
  font-size: 14px;
  color: #808484;
}

.Content h4 {
  font-size: 17px;
  line-height: 14.7px;
  color: #808484;
  font-weight: 400;
}

/* ---------------------- */
  /* -----PANIER----- */
/* ---------------------- */
.Menu {
  display: flex;
  background-color: #f2f5f5
}

.Basket {
  background-color: #FFF;
  width: 350px;
  /* flex-shrink: 0; */
  height: max-content;
  /* min-height: 180px; */
  border-radius: 5px;
  border: 2px solid #00cdbd;
  margin-top: 20px;
  margin-left: 15px;
}

.confirmation {
  height: 50px;
  width: 330px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  font-size: 16px;
  line-height: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.color-vide {
  background-color: #bac3c3;
  color: grey;
}

.color-nonvide {
  background-color: #00cdbd;
  color: white;
}

.Retailsbasket {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Retailsbasket > div {
  display: flex;
  align-items: center;
}

.Retailsbasket > p {
  display: flex;
  align-items: center;
}

.Retailsbasket button {
  border-radius: 50%;
  border: 0.1px solid #00cdbd;
  background-color: white;
  color: #00cdbd;
}

.Retails-qty {
  padding-right: 5px;
  padding-left: 5px;
}

.Retailstitle {
  padding-left: 10px;
}

.Confirm-2 {
  margin: 10px;
}

.trait {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0.1px solid rgb(229, 225, 225);
}

.totaux {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}

.finaltotals {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(82, 77, 77);
  display: flex;
  justify-content: space-between;
}

.panier-vide {
  height: 110px;
  color: #a3a3a3;
  font-size: 16px;
  line-height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------- */
  /* -----FOOTER----- */
/* ---------------------- */

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f5f5;
  padding: 20px;
}

.Footer span {
  font-weight: bold;
}